*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width: 80%;
    height: 120px;
    padding: 20px;
    border: 1px solid black;
    margin: 100px auto;
}
.child {
    width: 80px;
    height: 100%;
    background-color: green;
    transform: all 0.5s;
    animation: action 3s alternate infinite;
    animation-play-state: running;
}
.parent:hover .child{
    animation-play-state: paused;
}
@keyframes action{
    0%{
        transform: translate(0);
    }
    10%{
        transform: translate(300px);
    }
    50%{
        transform: translate(300px , 300px);
    }
    100%{
        transform: translate();
    }
}